/* Reset CSS style */
* {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

/* Main styling */

.container {}

.btn-start-game {}

/* First open web page window styles */

.first-open {}

/* Game in progress window styles */

.game-in-progress {}

.choices {}

.btn-rock {}

.btn-paper {}

.btn-scissors {}

.round-result {}

/* Game finished window styles */

.game-finished {}

.game-result {}